body{
 font-family: 'Poppins', sans-serif ;
 color: $couleur_txt;
}

.section-spacing{
    padding: 100px 0;
}
article{
    padding: 30px 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
    @media screen and (max-width:1200px){
        width: 800px;
    }
    @media screen and (max-width:680px){
        width: 500px;
    }
    @media screen and (max-width:500px){
        width: 380px;
    }
}
h1{
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    letter-spacing: 7px;
}
h2{
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0;
}
h5{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
p, span{
    line-height: 25px;
}
a{
    text-decoration: none;
    color: $couleur_txt;
}
img{
    max-width: 100%;
}
@media screen and (max-width:680px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 12px;
        margin-top: 4px;
    }
    p, span, a{
        font-size: 10px;
    }
}
.secondary_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    @media screen and (max-width:500px){
        text-align: center;
      }
}
.pics_in_row{
    position: relative;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:500px){
        flex-direction: column;
        align-items: center;
        gap: 1em;
     }
}
.pic_card{
    width: calc(100% / 4);
    margin-right: 20px;
    transition: 0.2s all ease-in-out;
    a{
        font-size: 20px;
        display: inline-block;
        padding-top: 10px;
        color: $couleur_txt;
        @media screen and (max-width:680px){
            font-size: 14px;
        }
    }
    @media screen and (max-width:500px){
        width: 100%;
     }
}
.pic_card_effect{
    &:hover{
        a{
            color: $yellow;
        }
        img{
            transform: scale(1.2) rotate(5deg);
        }
    }
}
.pic_box{
    overflow: hidden;
    img{
        display: block;
        object-fit: cover;
        transition: 0.2s all ease-in-out;
        @media screen and (max-width:500px){
            width: 100%;
        }
    }
}
.focus{
    &:hover{
        img{
            transform: scale(1.2);
        }
    }
}
.section_double{
    display: flex;
    justify-content: flex-start;
    height: 361px;
    div{
        width: calc(100% / 2);
        @media screen and (max-width:500px){
            width: 100%;
        }
    }
    @media screen and (max-width:500px){
        flex-direction: column;
    }
}
.double_txt{
    width: 50%;
    padding: 15px;
    height: 361px;
    @media screen and (max-width:500px){
        text-align: center;
    }
    h2{
        font-size: 25px;
        @media screen and (max-width:680px){
            font-size: 10px ;
        }
    }
}
.big_pic{
    width: 50%;
    img{
        display: block;
        width: 100%;
        @media screen and (max-width:500px){
            width: 90%;
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
    }
}