nav{
    div{
        z-index: 10;
    }

}
.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        padding: 20px;
        a{
            padding: 15px;
            color: #fff;
            &:hover{
                color: $yellow;
            }
            @media screen and (max-width:500px){
                padding: 10px;
             }
        }
    }
}
.blury{
    background: rgba($color: #f8f7f7, $alpha: 0.2);
}
.main_links{
    @media screen and (max-width:500px){
        display: none;
    }
}